@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    color:white;
}
#titletxt1{
    border: 1px solid black;
    text-align: center;
    width: 400px;
    padding: 10px;
    position: relative;
    top: 5%;
    left: 45%;
    border-radius: 20px;
}
.txt1{
    /*background-color: rgba(133, 133, 133, 0.479);*/
    background-color: #1d1d1e67;
    display: block;
    position: absolute;
    top: 18%;
    width: 1550px;
    height: 600px;
    border-radius: 0px 20px 20px 0px;
    font-family: 'Montserrat', sans-serif;
}
.par1{
    position: relative;
    font-size: 25px;
    left: 45%;
    bottom: 65%;
}
.braintxt{
}
.imagem1{
    position: relative;
    left: 5%;
}